@using QEQC04.Models
@{

    Layout = null;
}
<link href="~/Content/ABMPersonajeCss.css" rel="stylesheet" />
<h1> Categorias </h1>
@Html.ActionLink("Alta", "CatAlt", "ABM")
@{
    foreach (Categoria a in ViewBag.ListCat)
    {

        <li>
            @a.IdCategoria
            @a.Nombre
            @Html.ActionLink("Baja", "CatBaj", "ABM", new { _Id = a.IdCategoria }, null)
            @Html.ActionLink("Modificar", "CatMod", "ABM", new { _Id = a.IdCategoria }, null)

        </li>
    }
}


