@using QEQC04.Models
@model Categoria
@{
    ViewBag.Title = "CatMod";
}
<link href="~/Content/ABM.css" rel="stylesheet" />
<form action="@Url.Action("SumbitMCat", "ABM")" method="post">
    <label>
        Id: @ViewBag.catId

        @Html.HiddenFor(x=>x.IdCategoria)
        Nombre: @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre)

    </label>
    <input class="boton" type="submit" value="ingresar" /><br />
</form>

