@using QEQC04.Models
@model Personaje
@{
    ViewBag.Title = "PerAlt";
}
<link href="~/Content/AltaPersonajesCss.css" rel="stylesheet" />
<form action="@Url.Action("SumbitAPer", "ABM")" method="post">
    <label>
        Nombre: @Html.TextBoxFor(x => x.Nombre1) @Html.ValidationMessageFor(x => x.Nombre1)
        Sexo: @Html.TextBoxFor(x => x.Sexo1) @Html.ValidationMessageFor(x => x.Sexo1) 
        Categoria: @Html.TextBoxFor(x => x.Categoria1)  @Html.ValidationMessageFor(x => x.Categoria1)
    </label>
    <input class="boton" type="submit" value="ingresar" /><br />
</form>
