@using QEQC04.Models;
@using System.ComponentModel.DataAnnotations;
@model Personaje
@{
    ViewBag.Title = "PerAlt";
}
<form action="@Url.Action("Home", "ABM")" method="post">

    Nombre: @Html.TextBoxFor(x => x.Nombre1) @Html.ValidationMessageFor(x => x.Nombre1)<br />
    Sexo: @Html.TextBoxFor(x => x.Sexo1) @Html.ValidationMessageFor(x => x.Sexo1) <br />
    Categoria: @Html.TextBoxFor(x => x.Categoria1)  @Html.ValidationMessageFor(x => x.Categoria1) <br />

    <input class="boton" type="submit" value="ingresar" /><br />


</form>


<h2>PerAlt</h2>

