@using QEQg4.Models;
@using System.ComponentModel.DataAnnotations;
@model usuario
@{
    ViewBag.Title = "IniciarSesion";
}
<link href="~/Content/InciarSesion.css" rel="stylesheet" />
<h1>Iniciar Sesion</h1>

@ViewBag.ErrorMessage
<form action="@Url.Action("SubmitIniciarSesion", "Backoffice")" method="post">

    <label>Nombre de usuario</label>
    @Html.TextBoxFor(x => x.Username1, null, new { @class = "textbox" }) @Html.ValidationMessageFor(x => x.Username1)
    <label>Password</label>
    @Html.PasswordFor(x => x.Password1) @Html.ValidationMessageFor(x => x.Password1)
    <input class="boton" type="submit" value="Aceptar">

</form>




