@using QEQg4.Models;
@using System.ComponentModel.DataAnnotations;
@model usuario
@{
    ViewBag.Title = "IniciarSesion";
}

<h2>Iniciar Sesion</h2>

@ViewBag.ErrorMessage<br />
<form action="@Url.Action("SubmitIniciarSesion", "Backoffice")" method="post">

    Nombre de usuario: @Html.TextBoxFor(x => x.Username1) @Html.ValidationMessageFor(x => x.Username1)<br />
    Password: @Html.PasswordFor(x => x.Password1) @Html.ValidationMessageFor(x => x.Password1)<br />
    <br>
    <input type="submit" value="Aceptar">

</form>





