@using QEQC04.Models;
@model usuario
@{
    ViewBag.Title = "Register";

}
<link href="~/Content/Register.css" rel="stylesheet" />
<h1>Register</h1>

<form action="@Url.Action("SubmitRegister", "Backoffice")" method="post">

    <label>Nombre</label>
    @Html.TextBoxFor(x => x.Nombre1) @Html.ValidationMessageFor(x => x.Nombre1)<br />
    <label>Nombre de usuario </label>
    @Html.TextBoxFor(x => x.Username1) @Html.ValidationMessageFor(x => x.Username1)<br />
    <label>Password</label>
    @Html.PasswordFor(x => x.Password1) @Html.ValidationMessageFor(x => x.Password1)<br />
    <input class="boton" type="submit" value="ingresar" /><br />

</form>
